body {
    margin: 0;
    background: var(--dark-bg);
    color: var(--light-gray);
    font-family: "Noto Sans", sans-serif;
    font-size: 15px;
    line-height: 24px;
}

html {
    scroll-behavior: smooth;
}

h1,
p {
    margin: 0;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

:root {
    --accent-color: rgb(255, 78, 69);
    --lighter-gray: rgb(255, 255, 255);
    --light-gray: rgb(170, 170, 170);
    --divider-color: rgba(255, 255, 255, 0.1);
    --dark-bg: rgb(40, 40, 40);
    --darker-bg: rgb(31, 31, 31);
    --header-height: 64px;
    --sidebar-width: 72px;
    --sidebarOpen-width: 255px;
    --animation-duration: 300ms;
    --animation-timing-curve: ease-in-out;
}

.text-bold {
    font-weight: 600;
}

.text-white {
    color: white;
}

.header {
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: white;
    box-shadow: 0px 1px 4px 1px rgba(0, 0, 0, 0.2);
    padding: 0.75rem 1rem;
    background: var(--dark-bg);
}
.menu-icon-btn {
    background: none;
    border: none;
    padding: 0.5rem 0.5rem 0.25rem;
}
.menu-icon {
    width: 24px;
    height: 24px;
    fill: var(--light-gray);
    cursor: pointer;
}

.menu-icon:hover {
    fill: var(--lighter-gray);
}

.container {
    display: flex;
}

.sidebar.open {
    width: var(--sidebarOpen-width);
}

.sidebar {
    width: var(--sidebar-width);
    position: sticky;
    top: var(--header-height);
    flex-shrink: 0;
    overflow: hidden;
    height: calc(100vh - 1px - var(--header-height));
    border-right: 1px solid var(--divider-color);
    display: flex;
    flex-direction: column;
    align-items: center;

    transition: width var(--animation-duration) var(--animation-timing-curve);
}

.sidebar .top-sidebar {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 60px;
    width: 100%;
    transition: height var(--animation-duration) var(--animation-timing-curve);
}

.sidebar.open .top-sidebar {
    height: 220px;
}

.sidebar .top-sidebar .hidden-text-outer {
    visibility: hidden;
    text-align: center;
    width: 100%;
    opacity: 0;
    transition: all var(--animation-duration) var(--animation-timing-curve);
    margin: 1rem auto;
}
.sidebar.open .top-sidebar .hidden-text-outer {
    visibility: visible;
    opacity: 1;
    width: auto;
}

.sidebar .channel-logo {
    display: block;
    margin-top: 1rem;
    height: 32px;
    width: 32px;
    transition: all var(--animation-duration) var(--animation-timing-curve);
}

.sidebar.open .channel-logo {
    display: block;
    height: 112px;
    width: 112px;
}

.sidebar img {
    border-radius: 50%;
    width: 100%;
}

.middle-sidebar {
    width: 100%;
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;
}

.bottom-sidebar {
    height: 116px;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    width: 100%;
}

.sidebar.open .bottom-sidebar {
    border-top: 1px solid var(--divider-color);
}

.sidebar-list {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar-icon {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
}

.sidebar-link {
    text-decoration: none;
    height: 48px;
    width: 100%;
    padding-left: 1.5rem;
    display: flex;
    align-items: center;
    color: var(--light-gray);
    fill: var(--light-gray);
}

.sidebar-list-item.active .sidebar-link {
    position: relative;
    color: var(--accent-color);
    fill: var(--accent-color);
    background: var(--darker-bg);
}
.sidebar-list-item {
    width: 100%;
    fill: var(--lighter-gray);
}

.sidebar-list-item:hover {
    background: var(--darker-bg);
}

.sidebar-list-item.active .sidebar-link::before {
    content: "";
    position: absolute;
    width: 4px;
    height: 100%;
    left: 0;
    background-color: var(--accent-color);
}

.sidebar.open .sidebar-link {
    justify-content: start;
    padding-left: 1rem;
}

.sidebar-icon {
    margin-right: 1.25rem;
}
.sidebar.open .sidebar-link .sidebar-icon {
    margin-left: 0.5rem;
}

.sidebar .sidebar-link-text {
    opacity: 0;
    width: 0;
    transition: opacity var(--animation-duration) var(--animation-timing-curve);
    white-space: nowrap;
    margin-left: 1rem;
}

.sidebar.open .sidebar-link-text {
    opacity: 1;
    width: 100%;
}

.content {
    margin: 2rem;
}

.content section {
    padding-top: calc(var(--header-height) + 2rem);
    min-height: 100vh;
}

.content section .title {
    margin-bottom: 1rem;
}
